.about-page {
    padding: 0px 0px;
}

.about-hero {
    background: var(--primary-blue);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.about-hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-serif);
}

.about-hero p {
    font-size: var(--font-size-md);
    max-width: max-content;
    margin: 0 auto;
    opacity: 0.9;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    color: var(--primary-blue);
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.about-text p {
    font-size: var(--font-size-md);
    margin: 10px 0;
    line-height: 1.6;

}

.about-text ul {
    list-style: none;
    padding-left: 0;
}

.about-text li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-weight: 500;
    color: var(--primary-blue);
}

.feature-icon {
    color: var(--primary-green);
    font-size: 1.25rem;
}

.timeline-section {
    padding: 60px 20px;
    background-color: #dff5f3;
    text-align: center;
}

.timeline-section h2 {
    font-size: 2rem;
    color: var(--primary-blue);
    margin-bottom: 40px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 30px;
    border-left: 4px solid var(--primary-blue);
}

.timeline-item {
    margin-bottom: 40px;
    position: relative;
}

.timeline-year {
    font-weight: bold;
    color: var(--primary-blue);
    background-color: #e6eef7;
    padding: 8px 14px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-content {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.timeline-content h3 {
    margin-top: 0;
    color: var(--primary-blue);
}



/* Responsive */
@media (max-width: 768px) {
    .about-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about-hero {
        padding: 60px 20px;
        height: auto;
    }
    
    .about-text {
        flex: 1;
        justify-content: center;
        align-items: center;
        min-width: 300px;
    }
    .timeline-section {
        padding: 60px 20px;
    }

}


@media (max-width: 768px) {
    .timeline {
        padding-left: 15px;
    }

    .timeline-content {
        padding: 15px;
    }
}