.OurBusinesses-page-page {
  padding: 0px 0px;
}

.OurBusinesses-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170');
  background-color: #005599;
  color: white;
  padding: 180px 20px;
  text-align: center;
}

.OurBusinesses-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.OurBusinesses-hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.OurBusinesses-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .OurBusinesses-grid {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .OurBusinesses-card {
    max-width: 100%;
  }

  .avatar {
    width: 100%;
    height: auto;
  }
}

.OurBusinesses-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.OurBusinesses-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 51, 102, 0.08);
  margin: auto;
}

.OurBusinesses-card h3 {
  color: #003366;
  margin-bottom: 10px;
  font-weight: 600;
  border: none;
}

.avatar {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 15px;
  border: rgb(0, 85, 153) 2px solid;
}

