.slideshow-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  border-bottom: 2px solid #ccc;
}
