/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #005599;
  padding: 200px 20px;
}
.hero-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;

}



.hero-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #e3e3e3;
}

.hero-content span {
  color: #d9a21b;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 50rem;
  color: #e3e3e3;
}

.buttons {
  margin-top: 1.2rem;
  display: flex;
  gap: 20px;
}

.buttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1.2rem  3rem;
  transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);                                                                                                                                                                                                                                                                                                       
}

.buttons button.contact {
  background-color: #d9a21b;
  color: #0b3d0b;
  font-weight: 600;
}

button.contact:hover {
  background-color: #f8c945;
}

button.learn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

button.learn:hover {
  background-color: white;
  color: #0b3d0b;
}





@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .hero-content {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.25rem;
    width: 100%;
    text-align: center;
  }

 

  .hero-content h1 {
    font-size: 2rem;
    top: auto;
    left: auto;
    position: static;
  }

  .hero-content p {
    max-width: 100%;
    padding: 0 10px;
  }




  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }
}
