/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background: #FFF8E4;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.hero-content{
  width: 100%;
  height: 100vh;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #005599;
  box-sizing: border-box;
  text-align: center;
}

.hero-content h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #e3e3e3;
}

.hero-content h1 {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  color: #e3e3e3;
}

.hero-content span {
  color: #d9a21b;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 400px;
  color: #e3e3e3;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.buttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px 28px;
  transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);                                                                                                                                                                                                                                                                                                       
}

.buttons button.contact {
  background-color: #d9a21b;
  color: #0b3d0b;
  font-weight: 600;
}

button.contact:hover {
  background-color: #f8c945;
}

button.learn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

button.learn:hover {
  background-color: white;
  color: #0b3d0b;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.hero-image img {
  max-width: 37.5rem;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    min-height: 100vh;
  }

  .hero-content {
    position: static;
    display: flex;
    flex-direction: column;
    background-color: #005599;
    padding: 40px 20px;
    clip-path: none;
    width: 100%;
    text-align: center;
  }

  .hero-content h4 {
    font-size: 0.9rem;
    top: auto;
    left: auto;
    position: static;
  }

  .hero-content h1 {
    font-size: 2rem;
    top: auto;
    left: auto;
    position: static;
  }

  .hero-content p {
    max-width: 100%;
    padding: 0 10px;
  }

  .hero-image {
    order: -1;
    padding: 20px;
  }

  .hero-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .hero-image img {
    max-width: 250px;
  }
}
