/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-blue);
  padding: 7.5rem 1.25rem;
  height: 80vh;
}
.hero-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;

}



.hero-content h1 {
   font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--font-serif);
}

.hero-content span {
  color: var(--accent-orange);
}

.hero-content p {
   font-size: 1rem;
    max-width: 600px;
  margin: 0 auto;
  opacity: 0.9;
}

.call-to-action {
  display: flex;
  width: auto;
  margin-top: 1.2rem;
  gap: 2rem;
}



.call-to-action .contact {
  background-color: var(--accent-orange);
  color: var(--text-dark);
  font-weight: 600;
  padding: 1rem  3rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.call-to-action .contact:hover {
  color: var(--primary-blue);
}

.call-to-action .learn {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: 600;
  padding: 1rem  3rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.call-to-action .learn:hover {
  background-color: var(--white);
  color: var(--primary-blue);
}





@media (max-width: 768px) {
  .hero {
    height: 60vh;
    padding: 0.5rem;
  }
  .hero-content {
    display: flex;
    height: auto;
  }

  .hero-content {
    width: 100%;
    text-align: center;
  }

 

  .hero-content p {
    max-width: 100%;
    padding: 0 10px;
  }




  .call-to-action {
    flex-direction: column;
    gap: 15px;
    width: auto;
    text-align: center;
    padding: 0.8rem;
    font-size: 1rem;
  }
}

